body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.alertMessage {
    padding: 14px;
    border-radius: 6px;
    margin: 5px 0px;
}

.alertInfo {
    padding: 14px;
    border-radius: 6px;
    margin: 5px 0px;
}

.removeBtn {
    color: #ff8181;
    cursor: pointer;
    border: 1px #ff8181 solid;
    padding: 0px 4px;
    border-radius: 5px;
}

.selectedBox{
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 4px 8px;
    margin: 4px;
    display: inline-block;
}

.bookTitleImgLj {
    max-width: 160px;
    max-height: 400px;
    box-shadow: 1px 1px 3px gray;
}

.bookTitleImgSm {
    max-width: 80px;
    max-height: 200px;
    box-shadow: 1px 1px 2px gray;
}

.displayInline-block{
    display: inline-block;
}

.noPadding{
    padding: 0px;
}

.fullWidth{
    max-width: 100%;
}