
@{
    ViewBag.Title = "Дану сторінку не знайдено";
}

<h1 class="text-danger">@ViewBag.Title</h1>

<h4 class="bg-danger text-info alertMessage">
    На жаль, сторінку, яку ви шукали, не було знайдено
</h4>
<div>Бажаєте <a href="/Home/Index">повернутися на голову?</a></div>