@{
    ViewBag.Title = "Home Page";
    @model List<DBLib.Models.Book>
}

<div class="jumbotron">
    <div>Пошук за назвою</div>
    <div>
        Сортувати за:
        <span>Автором</span> |
        <span>Назвою</span> |
        <span>Виданням</span> |
        <span>Даті видання</span>
        <label for="DescendingRadio"><input id="DescendingRadio" name="sorting" type="radio" />Спадання</label>
        <label for="AscendingRadio"><input id="AscendingRadio" name="sorting" type="radio" />Зростання</label>
    </div>
    <a href="@Url.Action("Authors")">Автори</a> |
    <a href="@Url.Action("Sections")">Розділи</a> |
    <a href="@Url.Action("Publishers")">Видання</a>
</div>
@Html.Partial("_BooksView", Model)