@{
    ViewBag.Title = "Test" ;
}

<h2>@ViewBag.message</h2>
<div id="authorSection">

</div>

@using (Html.BeginForm(FormMethod.Post))
{
    <input id="searchBox" list="list" placeholder="Введіть перші літери" />
    <div id="selectAuthorBnt" class="btn btn-default btn-xs" onclick="selectAuthor()">Обрати автора</div>
    <div id="addAuthorBnt" class="btn btn-default btn-xs" onclick="saveAuthor()">Зберегти нового автора</div>
    <input type="submit"/>
}

<datalist id="list"></datalist>


@section scripts{
    <script src="~/Scripts/myScripts.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-git.css">

    <script>
        var allAuthorsArray = [];
        function checkInArray(arr, value) {
            return arr.includes(value);
        }

        function getAllAuthors() {
            $.ajax({
                url: '@Url.Action("GetAuthorsJson")',
                //type: 'POST',
                dataType: "json",
                success: function (data)
                {
                    data.map(function (item) {
                        allAuthorsArray.push(item.Name)
                        $('<option onclick="selectAuthor()" name="authorsNames" value="' + item.Name + '"></option>').appendTo("#list");
                    })
                },
                error: function(xhr, status, error){
                    alert("Error");
                }
             });
        }
        getAllAuthors();

    function selectAuthor() {
        var authorName = $('#searchBox').val(); //.trim();
        var check = checkInArray(allAuthorsArray, authorName);
        if (check) {
            $('<input type="text" readonly name="authorsNames" value="' + authorName + '" />').appendTo("#authorSection");
        }
        else {
            alert("Введеного автора не існує");
        }
        $('#searchBox').val('');
    }

    function saveAuthor() {
        var authorName = $('#searchBox').val(); //.trim();
        $.ajax({
            url: '@Url.Action("AddAuthorToDB")',
            type: 'POST',
            data: { authorName: authorName },
            success: function (data) {
                alert(data.Message);
                //queryStatusCode == 0 -IS- QueryStatusCode.Succes
                if (data.queryStatusCode == 0) {
                    selectAuthor();
                };
            },
            error: function () {
                alert('Помилка при додаванні');
            }
        });
    }

    @* $(function () {
        $("#Search").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("GetAuthorsJson")',
                    dataType: "json",
                    data: { search: $("#Search").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.Name, value: item.Name }
                        }))
                    },
                    error: function (xhr, status, error) {
                        alert("Error");
                    }
                });
            }
        });
    });*@

        //function addAuthorButtons() {
        //    $("#AuthorsId").clone().appendTo("#authorSection");
        //}
    </script>
}