@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div id="authorSection">

</div>

@using (Html.BeginForm())
{
    @Html.TextBox("searchTerm", null, new { id = "Search" })
    <div class="btn btn-default btn-xs" onclick="selectAuthor()">Обрати автора</div>
    <input type="submit" value="Search">
}


@section scripts{
    <script src="~/Scripts/myScripts.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-git.css"></link>

    <script>
      $( function() {
          $("#Search").autocomplete({
              source: function (request, response) {
                  $.ajax({
                      url: '@Url.Action("GetAuthorsJson")',
                      dataType: "json",
                      data: { search: $("#Search").val() },
                      success: function (data) {
                          response($.map(data, function (item) {
                              return { label: item.Name, value: item.Name }
                          }))
                      },
                      error: function(xhr, status, error){
                          alert("Error");
                      }
                  });
              }
          });
        });

        function selectAuthor() {
            var authorName = $('#Search').val(); //.trim();
            $('<input type="text" readonly name="authorsNames" value="' + authorName + '" />').appendTo("#authorSection");
            $('#Search').val('');
        }

        //function addAuthorButtons() {
        //    $("#AuthorsId").clone().appendTo("#authorSection");
        //}
    </script>
}